---
layout: default
title: 404
permalink: /404.html
---

<div class="text-center">
<h1 class="display-1 mt-5 mb-4"><span class="badge badge-danger">404</span> Page does not exist!</h1>
<p>Visit my <a href="{{site.baseurl}}/">homepage</a> for more interesing articles and inspiration!</p>
</div>
