{% for file in site.static_files %}
    {% if file.path contains include.folder %}
        {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' or file.extname == ".gif"%}
            {% assign filenameparts = file.path | split: "/" %}
            {% assign filename = filenameparts | last | replace: file.extname,"" %}
            <figure class="col-sm-6">
                <a href="{{site.url}}{{ file.path }}" title="{{ filename }}" data-size="400x400">
                    <img class="lazyload" src="{{site.url}}{{file.path}}" alt="{{ filename }}" title="{{ filename }}" class="img-fluid"/>
                </a>
            </figure>
        {% endif %}
    {% endif %}
{% endfor %}

