<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a title="Picture" href="{{ post.url | absolute_url }}">
                {% if picbox.image %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ picbox.image }}{% else %}{{ picbox.image | absolute_url }}{% endif %}" alt="{{ picbox.title }}"> 
                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a title="Dark" class="text-dark" href="{{ picbox.url | absolute_url }}">{{ picbox.title }}</a>
                {% if picbox.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {% if picbox.author %}
                <span class="meta-footer-thumb">
                {% if picbox.avatar %}
                <img class="author-thumb" src="/{{ site.baseurl }}/{{ author.avatar }}" alt="{{ author.display_name }}">
                {% else %}
                <img class="author-thumb" src="/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {% endif %}
                </span>
                <span class="author-meta">
                <span class="post-name"><a title="Author" target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                {% endif %}
                <span class="post-date">{{ picbox.date | date_to_string }}</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->